/* @media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
      background: #1C2331!important;
  }
}

.navbar{background-color:rgba(0,0,0,.2)}
.page-footer,
.top-nav-collapse{background-color:#1C2331}
@media only screen and (max-width:768px)
{.navbar{background-color:#1C2331}} */

.para {
	font-size: 22px;
  font-family: 'Raleway', sans-serif;
}

.myButton {
	box-shadow:inset 0px 0px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:24px 76px;
	text-decoration:none;
	text-shadow:0px 0px 0px #854629;
	font-weight: bold;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.myButton:active {
	position:relative;
	top:1px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}


* { box-sizing: border-box; }

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}
@media (max-width: 575px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

/* To change the amount of columns on larger devices, uncomment the code below */

/* @media (min-width: 768px) and (max-width: 991px) {
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
} */



.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.bg { 
  /* The image used */
  /*background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/website-parallax-background-C.jpg"); */
	background: url("../images/my_banner.webp");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.morphext > .animated {
  display: inline-block;
}

.main-bg {
	
	background: url("../images/184-1845261_purple-night-sky-background.webp");
	height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lower-bg {
  background: linear-gradient(rgba(241, 241, 241, 0.7), rgba(104, 104, 104, 0.7)), url("../images/544752-vettore-circolare-astratto-bianco-e-grigio-della-curva-della-priorita-bassa-per-la-presentazione-di-affari-sfondo-e-concetto-astratto-vettoriale.webp");
	height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wp-bg { 
  /* The image used */
  background:  url("../images/EasyWP-review.png");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.hosting-bg { 
  /* The image used */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/namecheap-baby-wallpaper-desktop.jpg");
  /* background:  url("../images/namecheap-baby-wallpaper-desktop.jpg"); */
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
    
}

.wpthemes-bg { 
  /* The image used */
  background:  url("./images/enavato-wordpress.jpeg");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.solid {
	text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000; 
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #aaa;
  text-decoration: none;
}
						
						
.navbar-trans {
  background: transparent; }

a.navbar-brand, a.logo {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff !important;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0; }

a.logo:hover, a.logo:active, a.logo:focus {
  text-decoration: none; }

li.nav-item .btn {
  margin-top: .2rem;
  margin-left: .4rem; }
li.nav-item .btn-white {
  color: #46484a; }
  
.rounded-logo-bg {
	background: #ffa900 !important;
  
	padding:4px;
}

.index-logo {
  background: #fff !important;
  padding:4px;
}


.wrapper
{
	padding-bottom: 50px;
}

.divider
{
	position: relative;
	margin-top: 20px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.div-tab-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(50% - 10px);
	width: 20px;
	height: 14px;
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-left: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
	border-radius: 0 0 8px 8px;
}

.div-stopper:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -6px;
	left: calc(50% - 7px);
	width: 14px;
	height: 12px;
	background-color: white;
	border-left: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: goldenrod;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}


:root {
  --width: 300px;
  --height: 100px;
  --top-color: #f44336;
  --bottom-color: #2196F3;
}

.separator {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.separator::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--top-color);
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--bottom-color);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.separator.reverse {
  transform: rotateY(180deg);
}

.vertical .separator.reverse {
  transform: rotateX(180deg);
}



/* aweber form */
#af-form-304413460 .af-body .af-textWrap{width:98%;display:block;float:none;}
#af-form-304413460 .af-body a{color:#26A5E0;text-decoration:underline;font-style:normal;font-weight:normal;}
#af-form-304413460 .af-body input.text, #af-form-304413460 .af-body textarea{background-color:#FFFFFF;border-color:#A4A8B2;border-width:1px;border-style:solid;color:#C7C7C7;text-decoration:none;font-style:normal;font-weight:normal;font-size:16px;font-family:Helvetica, sans-serif;}
#af-form-304413460 .af-body input.text:focus, #af-form-304413460 .af-body textarea:focus{background-color:#FFFAD6;border-color:#7887A3;border-width:1px;border-style:solid;}
#af-form-304413460 .af-body label.previewLabel{display:block;float:none;text-align:left;width:auto;color:#586784;text-decoration:none;font-style:normal;font-weight:normal;font-size:16px;font-family:Helvetica, sans-serif;}
#af-form-304413460 .af-body{padding-bottom:30px;padding-top:30px;background-repeat:no-repeat;background-position:inherit;background-image:none;color:#586784;font-size:18px;font-family:Helvetica, sans-serif;}
#af-form-304413460 .af-header{padding-bottom:5px;padding-top:5px;padding-right:30px;padding-left:30px;background-color:#FFFFFF;background-repeat:no-repeat;background-position:center;background-image:none;border-width:1px;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;color:#586784;font-size:18px;font-family:Helvetica, sans-serif;}
#af-form-304413460 .af-quirksMode .bodyText{padding-top:2px;padding-bottom:2px;}
#af-form-304413460 .af-quirksMode{padding-right:30px;padding-left:30px;}
#af-form-304413460 .af-standards .af-element{padding-right:30px;padding-left:30px;}
#af-form-304413460 .bodyText p{margin:1em 0;}
#af-form-304413460 .buttonContainer input.submit{background-image:none;background-color:#167524;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:18px;font-family:Helvetica, sans-serif;}
#af-form-304413460 .buttonContainer input.submit{width:auto;}
#af-form-304413460 .buttonContainer{text-align:right;}
#af-form-304413460 body,#af-form-304413460 dl,#af-form-304413460 dt,#af-form-304413460 dd,#af-form-304413460 h1,#af-form-304413460 h2,#af-form-304413460 h3,#af-form-304413460 h4,#af-form-304413460 h5,#af-form-304413460 h6,#af-form-304413460 pre,#af-form-304413460 code,#af-form-304413460 fieldset,#af-form-304413460 legend,#af-form-304413460 blockquote,#af-form-304413460 th,#af-form-304413460 td{float:none;color:inherit;position:static;margin:0;padding:0;}
#af-form-304413460 button,#af-form-304413460 input,#af-form-304413460 submit,#af-form-304413460 textarea,#af-form-304413460 select,#af-form-304413460 label,#af-form-304413460 optgroup,#af-form-304413460 option{float:none;position:static;margin:0;}
#af-form-304413460 div{margin:0;}
#af-form-304413460 fieldset{border:0;}
#af-form-304413460 form,#af-form-304413460 textarea,.af-form-wrapper,.af-form-close-button,#af-form-304413460 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
#af-form-304413460 input,#af-form-304413460 button,#af-form-304413460 textarea,#af-form-304413460 select{font-size:100%;}
#af-form-304413460 p{color:inherit;}
#af-form-304413460 select,#af-form-304413460 label,#af-form-304413460 optgroup,#af-form-304413460 option{padding:0;}
#af-form-304413460 table{border-collapse:collapse;border-spacing:0;}
#af-form-304413460 ul,#af-form-304413460 ol{list-style-image:none;list-style-position:outside;list-style-type:disc;padding-left:40px;}
#af-form-304413460,#af-form-304413460 .quirksMode{width:100%;max-width:418px;}
#af-form-304413460.af-quirksMode{overflow-x:hidden;}
#af-form-304413460{background-color:#FFFFFF;border-color:#CFCFCF;border-width:1px;border-style:none;}
#af-form-304413460{display:block;}
#af-form-304413460{overflow:hidden;}
.af-body .af-textWrap{text-align:left;}
.af-body input.image{border:none!important;}
.af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
.af-body input.submit{white-space:inherit;}
.af-body input.text{width:100%;float:none;padding:2px!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-clear{clear:both;}
.af-element label{text-align:left;display:block;float:left;}
.af-element{padding-bottom:5px;padding-top:5px;}
.af-form-wrapper{text-indent:0;}
.af-form{box-sizing:border-box;text-align:left;margin:auto;}
.af-header{margin-bottom:0;margin-top:0;padding:10px;}
.af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
.lbl-right .af-element label{text-align:right;}
body {
}
#af-form-304413460 {
  border-radius: 6px;
  box-shadow: 0 24px 50px 0 rgba(0,0,0,0.12), 0 5px 15px rgba(0,0,0,.07);
}
#af-form-304413460 .af-body {
}
#af-form-304413460 .af-body .bodyText p {
  line-height: 1.5;
  margin: 0 0 1rem;
}

#af-form-304413460 .af-body .bodyText p:last-child {
  margin: 0;
}

#af-form-304413460 .af-header {
  border-radius: 6px 6px 0 0;
}
#af-form-304413460 .af-footer {
  border-radius: 0 0 6px 6px
}
#af-form-304413460 .af-footer p {
}

#af-form-304413460 .af-body .af-element {
  margin-top: 1rem !important;
  padding-top: 0;
  padding-bottom: 0;
}

#af-form-304413460 .af-body .af-textWrap {
  width: 100%;
}

#af-form-304413460 .af-body .af-element:first-child {
  margin-top: 0 !important;
}
#af-form-304413460 .af-body label.previewLabel {
  font-weight: 700 !important;
  margin-bottom: 0.25rem !important;
}
#af-form-304413460 .af-body input.text {
  border-radius: 13px;
  box-sizing: border-box !important;
  margin-top: 0.25rem !important;
  padding: 12px 8px !important;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
#af-form-304413460 .af-body input.text:focus {
  outline: none;
}
#af-form-304413460 .af-body select {
  width: 100%;
}
#af-form-304413460 .af-body .af-dateWrap select {
  width: 33%;
}
#af-form-304413460 .choiceList-radio-stacked {
  width: 100% !important;
}
#af-form-304413460 .af-body .af-element-radio,
#af-form-304413460 .af-body .af-element-checkbox {
  margin: 10px 0 !important;
  margin-top: 10px !important;
}
#af-form-304413460 .af-element-radio:last-child,
#af-form-304413460 .af-element-checkbox:last-child {
  margin: 10px 0 0 !important;
}

#af-form-304413460 .af-element-radio input.radio,
#af-form-304413460 .af-element-checkbox input.checkbox {
  display: inline;
  height: 0;
  opacity: 0;
  overflow: hidden;
  width: 0;
}

#af-form-304413460 .af-element-radio label.choice,
#af-form-304413460 .af-element-checkbox label.choice {
  background: transparent;
  border-radius: 4px;
  display: block !important;
  font-weight: 300 !important;
  margin-left: 30px;
  padding: 5px !important;
  position: relative;
  transition-duration: .2s;
}
#af-form-304413460 .af-element-radio input.radio:focus ~ label,
#af-form-304413460 .af-element-checkbox input.checkbox:focus ~ label {
  box-shadow: inset 0 0 0 2px rgba(25,35,70,.25);
}
#af-form-304413460 .af-element-radio input.radio:checked ~ label,
#af-form-304413460 .af-element-checkbox input.checkbox:checked ~ label {
  background: rgba(25,35,70,.05);
}

#af-form-304413460 .af-element-radio label.choice:before,
#af-form-304413460 .af-element-checkbox label.choice:before {
  background-color: #ffffff;
  border: 1px solid #a4a8b2;
  border-radius: 50%;
  display: inline-block;
  content: '';
  float: left;
  height: 1em;
  margin-left: -30px;
  margin-right: .5rem;
  position: relative;
  width: 1em;
}
#af-form-304413460 .af-element-checkbox label.choice:before {
  border-radius: 4px !important;
}
#af-form-304413460 .af-element-radio input.radio:checked ~ label:before,
#af-form-304413460 .af-element-checkbox input.checkbox:checked ~ label:before {
  animation: rotateIn .2s ease-in;
  background-color: transparent;
  border-color: transparent;
  content: '✔️';
  top: -4px;
}

#af-form-304413460 .af-element-radio input.radio:checked ~ label:before {
  content: '⚫';
}

#af-form-304413460 .af-selectWrap {
  margin-top: 10px;
}
#af-form-304413460 .af-selectWrap select {
  background: #FFFFFF;
}

#af-form-304413460 .buttonContainer {
  box-sizing: border-box !important;
}
#af-form-304413460 input.submit,
#af-form-304413460 #webFormSubmitButton {
  -webkit-appearance: none;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0 16px 30px 0 rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,.05);
  display: inline-block;
  font-weight: 700;
  letter-spacing: .025rem;
  line-height: 40px;
  padding: 0 25px;
  text-decoration: none;
  transition: all .3s ease;
  white-space: nowrap;
}
#af-form-304413460 input.submit:hover,
#af-form-304413460 #webFormSubmitButton:hover {
  cursor: pointer;
}
#af-form-304413460 input.text {
  background-image: none !important;
  border-radius: 3px !important;
  margin-top: 0.5rem !important;
  padding: 0.6rem 2.5rem !important;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 100% !important;
}
#af-form-304413460 input.text:hover {
  cursor: pointer;
  opacity: 0.9;
}

#af-form-304413460 .af-body .poweredBy,
#af-form-304413460 .af-body .privacyPolicy {
  margin: 15px 0 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.poweredBy a,
.privacyPolicy p {
  font-size: 0.75rem !important;
}

@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: translateY(10px) rotate(-90deg);
  }
  80% {
    transform: translateY(-1px) rotate(10deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
}